
{# swim/templates/admins_info.html.twig #}
<h1 style="text-align:center; padding-bottom: 10px"> About Us</h1>

<div style="text-align:center">"There's no injury that can be caused by swimming that can't be cured by more swimming."</div>

<div class="about-us-container">
    <div class = "admin-profile-container">
        <div class="tom-casavant"></div>

        <div class="admin-name">Tom Casavant (Co-Founder)</div>

        <div>"I was one of the co-founders of the iCows which started in the summer of 2012 with casual swims
            (before the name iCows had been though of) in Lake MacBride from the dock of Ralph Stephens.
            I had been living in W. Australia and had completed my first Channel Swim that same year. I was
            desperate for a way to keep swimming in open water in Iowa. And... the rest (including having a
            custom trailer built for 6 kayaks) is history."</div>

    </div>


</div>
