
{# swim/templates/admins_info.html.twig #}
<h1 style="text-align:center; padding-bottom: 10px"> About Us</h1>

<div style="text-align:center">"There's no injury that can be caused by swimming that can't be cured by more swimming."</div>

<div class="about-us-container">
    <div class = "admin-profile-container">
        <div class="tom-casavant"></div>

        <div class="admin-name">Tom Casavant (Co-Founder)</div>

        <div>
            "I was one of the co-founders of the iCows which started in the summer of 2012 with casual swims
            (before the name iCows had been though of) in Lake MacBride from the dock of Ralph Stephens.
            I had been living in W. Australia and had completed my first Channel Swim that same year. I was
            desperate for a way to keep swimming in open water in Iowa. And... the rest (including having a
            custom trailer built for 6 kayaks) is history."
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="hal-ide"></div>

        <div class="admin-name">Hal Ide (Co-Founder)</div>

        <div>
            "I am one of the original 5 or 6 folk who jumped off of Ralph Steven's dock to give swimming in Macbride a
            try. I was intimidated at first... I was certain there would be some rusty piece of farm equipment just below
            the surface that would rip my belly open as I swam over it.  It turned out to be fun!"
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="jerry-protheroe"></div>

        <div class="admin-name">Jerry Protheroe (Co-founder)</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="tahuanty-pena"></div>

        <div class="admin-name">Tahuanty Pena</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="liz-uribe"></div>

        <div class="admin-name">Liz Uribe (Swim Admin)</div>

        <div>
            "A fellow Iowa City Eels master swimmer asked me if I was interested in open water because she knew
            somebody.  That somebody turned out to be Tom, she got us hooked up via email and the rest is history.
            I wasn't there at the very start of when folks started swimming at Lake Mcbride regularly, but I was
            there at the start of when iCows became official. I've more or less been a core member/admin since the
            beginning. Y'all can thank me for being the reason food is part of our post swim fun."
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="peter-thorne"></div>

        <div class="admin-name">Peter Thorne</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="steve-davis"></div>

        <div class="admin-name">Steve Davis (Swim Admin)</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="tom-belin"></div>

        <div class="admin-name">Tom Belin</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="steve-bird"></div>

        <div class="admin-name">Steve Bird</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="amrita-nain"></div>

        <div class="admin-name">Amrita Nain</div>

        <div>
            ""
        </div>
    </div>

    <div class = "admin-profile-container">
        <div class="ben-kieffer"></div>

        <div class="admin-name">Ben Kieffer</div>

        <div>
            ""
        </div>
    </div>




</div>
