
{# swim/templates/admins_info.html.twig #}
<h1 style="text-align: center"> About Us</h1>

<div style="text-align:center">There's no injury that can be caused by swimming that can't be cured by more swimming.</div>